@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

.scene {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#87ceeb, #fbc2eb);
  position: relative;
}

/* Texto */
.text {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 0 #000;
  z-index: 10;
}

.text span {
  color: pink;
  text-shadow: 0 0 8px pink;
}

/* Corazones */
.heart {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/34/Red_pixel_heart.png");
  background-size: cover;
  animation: float 8s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(100vh) scale(0.8);
    opacity: 1;
  }
  to {
    transform: translateY(-10vh) scale(1.2);
    opacity: 0;
  }
}

